<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EStore</title>
    <%= csrf_meta_tags %>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Include Bootstrap CSS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<!-- Include Bootstrap JS -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	    <title>Dashboard Template for Bootstrap</title>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
